<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typography</string>
	<key>uuid</key>
	<string>598D8587-B336-4280-995C-2B55320BA96A</string>
</dict>
</plist>
